
body{
background-image: linear-gradient(to bottom, pink, aqua );
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
text-align: center;

}
article{
border: 1rem solid white;   
font-family: sans-serif;
padding: 2rem;
font-weight: bold;

}
#count-el{
font-size: 3rem;
}
#plus-el{
  background: green;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1rem;
}
#save-el{
background: yellow;
height: 3.5rem;
}
#minus-el{
background: red;
border-radius: 50%;
height: 3.5rem;
}